<div class="form-container">
  <form [formGroup]="customerForm" (ngSubmit)="updateCustomer()">
    <div class="title">
      <h1>Update Customer</h1>
    </div>
    <div>
      <label for="firstName"> First Name <span class="star">*</span>:</label>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        class="input-field"
      />
      <p
        class="error-message"
        *ngIf="customerForm.controls['firstName'].errors?.['required'] && 
            customerForm.controls['firstName'].touched"
      >
        field is required
      </p>
    </div>

    <div>
      <label for="lastName"> Last Name <span class="star">*</span>: </label>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        class="input-field"
      />
      <p
        class="error-message"
        *ngIf="customerForm.controls['lastName'].errors?.['required'] && customerForm.controls['lastName'].touched"
      >
        field is required
      </p>
    </div>

    <div>
      <label for="address"> Address <span class="star">*</span>: </label>
      <input
        id="address"
        type="text"
        formControlName="address"
        class="input-field"
      />
      <p
        class="error-message"
        *ngIf="customerForm.controls['address'].errors?.['required'] && customerForm.controls['address'].touched"
      >
        field is required
      </p>
    </div>

    <div>
      <label for="email"> Email <span class="star">*</span>: </label>
      <input
        id="email"
        type="text"
        formControlName="email"
        class="input-field"
      />
      <p
        class="error-message"
        *ngIf="customerForm.controls['email'].errors?.['required'] && customerForm.controls['email'].touched"
      >
        field is required
      </p>
    </div>

    <div>
      <label for="balance"> Balance <span class="star">*</span>: </label>
      <input
        id="balance"
        type="number"
        formControlName="balance"
        class="input-field"
      />
      <p
        class="error-message"
        *ngIf="customerForm.controls['balance'].errors?.['required'] && customerForm.controls['balance'].touched"
      >
        field is required
      </p>
    </div>
    <button class="button" type="submit">Update Customer</button>
  </form>
</div>
<div class="success-message" *ngIf="success">
  <p>Successfully updated customer</p>
</div>
